@using System.Linq
@using Models
@using web.Shared
@using RivetBlazor.Components
@using Microsoft.AspNetCore.Components.Web.Extensions.Head
@implements IDisposable
@inherits PageBase
@page "/departments/{DepartmentId}"

<Title Value="@GetPageTitle()" />
<HeaderNavBar Page="Departments" CurrentPage=@_Department.Name />
<div class="rvt-bg-white rvt-m-tb-xl rvt-p-tb-xl">
	<div class="rvt-container" style="max-width: 1440px; margin: auto;">
		<AuthenticatedView>
			<NotAuthenticated>
				<h1 class="rvt-ts-32 rvt-ts-41-lg-up rvt-text-bold">@_Department.Name</h1>
				<p>
					You must login to view this resource.
				</p>
				<p>
					<a class="rvt-button" href="/SignIn?Destination=/departments/@DepartmentId">Log In</a>
				</p>
			</NotAuthenticated>
			<Authenticated>
				<Loader Loading="ShowLoader">
					<div class="rvt-grid">
						<div class="rvt-grid__item">
							<div class="rvt-m-bottom-xxl">
								<h1 class="rvt-ts-32 rvt-ts-41-lg-up rvt-text-bold">@_Department.Name</h1>
								<p>@_Department.Description</p>
							</div>
						</div>
					</div>
					<SupportingUnits Units=@SupportingUnits />
				</Loader>
			</Authenticated>
		</AuthenticatedView>
	</div>
</div>


@code{
	[Parameter]
	public string DepartmentId { get; set; }
	private EditContext DepartmentEditContext;
	private Department _Department = new Department();
	private IEnumerable<UnitResponse> SupportingUnits = new List<UnitResponse>();
	private bool ShowLoader = false;
	private IDisposable Loading() => new DisposableLoader(s => ShowLoader = s, StateHasChanged);

	protected override async Task OnInitializedAsync()
	{
		DepartmentEditContext = new EditContext(DepartmentId);
		await SetLoggedInUser();
		if(LoggedInUser != null)
		{
			using (Loading())
			{
			   await GetSupportingUnits();
			}
		}
	}
	private async Task GetSupportingUnits()
	{
		var response = await Get<List<SupportRelationshipResponse>>($"/departments/{DepartmentId}/supportingUnits");
		_Department = response.Value.Where(sr => sr.DepartmentId.ToString() == DepartmentId).Select(sr => sr.Department).First();
		SupportingUnits = response.Value.Select(sr => sr.Unit);
	}

	private string GetPageTitle() => $"{_Department.Name} - IT People - Indiana University";
	public void Dispose() { }
}