@using Models
@using Models.Enums
@using web.Shared
@using RivetBlazor.Components
@using System.Web
@implements IDisposable
@inherits Shared.PageBase
@inject NavigationManager Navigation
@page "/Units/{unitId}/AddMember"
@page "/Units/{unitId}/EditMember/{username}"

<div class="rvt-container rvt-container--senior rvt-container--center rvt-p-bottom-xl rvt-p-top-lg">
	
	<div class="rvt-flex-md-up rvt-justify-space-between-lg-up">
		<!-- our title -->
		<div class="rvt-m-right-sm-md-up">
			<h1>Edit Unit @(CurrentUnit?.Name ?? UnitId) Member @Username</h1>
		</div>
	</div>

	<DisplayException Ex=@GeneralException />

	<AuthenticatedView>
		<NotAuthenticated>
			<p>
				You must login to view this resource.
			</p>
			<p>
				<a class="rvt-button" href=@GetLoginUri()>Log In</a>
			</p>
		</NotAuthenticated>
		<Authenticated>
			<Loader Loading="ShowLoader">
				<p>
					UnitId: @UnitId
					<br/>
					Unit: @CurrentUnit?.Name
					<br/>
					UnitCrudPerms: @UnitCrudPerms
					<br/>
					Viewer CanManageMemberTools: @CanManageMemberTools
				</p>
				<p>
					username: @Username
					<br/>
					Person: @CurrentPerson?.Name @CurrentPerson?.Netid
					<br/>
					Is Member?: @CurrentUnitMembers.Any(m => m.Person.Netid == Username)
					<br/>
					MembersCrudPerms: @MembersCrudPerms
				</p>

				<EditForm EditContext="@FormContext" OnValidSubmit="SubmitForm">
					<DataAnnotationsValidator />
					<ValidationSummary />
					<RivetInputSelect @bind-Value="Input.Role" Label="Role" Description="" Options=RoleOptions DisplayLambda=@(r => r.ToString()) />
					<RivetInputSelect @bind-Value="Input.Permissions" Label="Unit Permissions" Description="" Options=UnitPermissionOptions DisplayLambda=@(p => p.ToString()) />
					<RivetInputText @bind-Value="Input.Title" Label="Title" />
					<RivetInputNumber @bind-Value="Input.Percentage" Label="Percentage" />
					<RivetInputTextArea @bind-Value="Input.Notes" Label="Notes" />
					
					@if(!CanManageMemberTools)
					{
						<div class="rvt-inline-alert rvt-inline-alert--standalone rvt-inline-alert--info rvt-m-top-md">
							<span class="rvt-inline-alert__icon">
								<rvt-icon name="info-circle" />
							</span>
							<span class="rvt-inline-alert__message" id="radio-list-message">
								Only the owner of the @CurrentUnit?.Name unit, or members with the "Manage Members" or "Manage Tools" permission, can update a member's tools.
							</span>
						</div>
					}

					<RivetInputCheckbox @bind-Value="Input.Tools" Legend="Tools" Options=ToolOptions DisplayLambda=@(t => GetToolDisplayString(t)) Disabled=@(!CanManageMemberTools) />
					
					<p>
						<button type="submit" class="rvt-button" disabled=@(FormInvalid || ShowLoader)>Save</button
					</p>
				</EditForm>
			</Loader>
		</Authenticated>
	</AuthenticatedView>
</div>



@code
{
	[Parameter]
	public string UnitId { get; set; }

	[Parameter]
	public string Username { get; set; }

	private UnitResponse CurrentUnit;
	private List<UnitMember> CurrentUnitMembers = new List<UnitMember>();
	private Person CurrentPerson;

	private EntityPermissions UnitCrudPerms;
	private EntityPermissions MembersCrudPerms;
	
	private bool CanManageMemberTools => 
		MembersCrudPerms.HasFlag(EntityPermissions.Post)
		|| MembersCrudPerms.HasFlag(EntityPermissions.Put)
		|| (LoggedInUser != null && CurrentUnitMembers.Any(um => um.Person.Netid == LoggedInUser.Username && (um.Permissions == UnitPermissions.ManageMembers || um.Permissions == UnitPermissions.ManageTools)));

	private MemberInput Input = new MemberInput();
	private EditContext FormContext;
	private List<Role> RoleOptions = Enum.GetValues(typeof(Role)).Cast<Role>().ToList();
	private List<UnitPermissions> UnitPermissionOptions = Enum.GetValues(typeof(UnitPermissions)).Cast<UnitPermissions>().ToList();
	private List<Tool> ToolOptions = new List<Tool>();

	private bool ShowLoader = false;
	private bool FormInvalid = false;
	private IDisposable Loading() => new DisposableLoader(s => ShowLoader = s, StateHasChanged);


	protected override async Task OnInitializedAsync()
	{
		// Setup our editcontext
		FormContext = new EditContext(Input);
		FormContext.OnFieldChanged += HandleFieldChanged;

		await SetLoggedInUser();
	}
	
	protected override async Task OnParametersSetAsync()
	{
		if(LoggedInUser != null)
		{
			using (Loading())
			{
				await Task.WhenAll(new [] {SetCurrentUnit(), SetCurrentPerson(), SetToolOptions()});

				// Armed with all the details about the person, unit, and current members build up our input.
				var existingMember = CurrentUnitMembers.FirstOrDefault(m => m.PersonId == CurrentPerson?.Id);
				List<int> existingToolIds = existingMember?.MemberTools.Select(mt => mt.ToolId).ToList() ?? new List<int>();
							
				Input.UnitId = CurrentUnit.Id;
				Input.PersonId = CurrentPerson.Id;
				Input.NetId = CurrentPerson.Netid;
				Input.Role = existingMember?.Role ?? Role.Member;
				Input.Permissions = existingMember?.Permissions ?? UnitPermissions.Viewer;
				Input.Title = existingMember?.Title;
				Input.Percentage = existingMember?.Percentage ?? 100;
				Input.Notes = existingMember?.Notes;

				Input.Tools.Clear();
				Input.Tools.AddRange(ToolOptions.Where(o => existingToolIds.Contains(o.Id)));
			}
		}
	}

	private void HandleFieldChanged(object sender, FieldChangedEventArgs e)
	{
		FormInvalid = !FormContext.Validate();
		StateHasChanged();
	}

	protected string GetLoginUri()
	{
		var signIn = "/SignIn";
		var uri = new Uri(Navigation.Uri);
		if(string.IsNullOrWhiteSpace(uri?.PathAndQuery) == false)
		{
			signIn += $"?Destination={HttpUtility.UrlEncode(uri.PathAndQuery)}";
		}

		return signIn;
	}

	private async Task SetCurrentUnit()
	{
		var tasks = new List<Task>();
		tasks.Add(Task.Run(async () => {
			var response = await Get<UnitResponse>($"units/{UnitId}");
			CurrentUnit = response.Value;
			UnitCrudPerms = response.Permissions;
		}));
		
		tasks.Add(Task.Run(async () => {
			var response = await Get<List<UnitMember>>($"units/{UnitId}/members");
			CurrentUnitMembers = response.Value;
			MembersCrudPerms = response.Permissions;
		}));

		await Task.WhenAll(tasks);
	}

	private async Task SetCurrentPerson()
	{
		var response = await Get<Person>($"people/{Username}");
		CurrentPerson = response.Value;
	}

	private async Task SetToolOptions()
	{
		var response = await Get<List<Tool>>($"tools");
		ToolOptions = response.Value;
	}

	private string GetToolDisplayString(Tool tool)
	{
		var output = $"{tool.Name}";
		output += string.IsNullOrWhiteSpace(tool.Description) ? "" : $" - {tool.Description}";
		return output;
	}

	private async Task SubmitForm()
	{
		GeneralException = new NotImplementedException("SubmitForm()");
		Console.WriteLine("Hello from SubmitForm()");
	}

	public void Dispose()
	{
		FormContext.OnFieldChanged -= HandleFieldChanged;
	}

	private class MemberInput : UnitMemberRequest
	{
		public List<Tool> Tools { get; set; }

		public MemberInput()
		{
			Tools = new List<Tool>();
		}
	}
}