@implements IDisposable
 
<div>
    <div style="float: right;">
        <button title=@Title class="rvt-button rvt-button--plain" data-modal-trigger="modal-form-i">
            <rvt-icon name="pencil" />
            <span class="rvt-m-left-xs rvt-sr-only">@Title</span>
        </button>
            @ChildContent
    </div>
        @SubContent
</div>
        
@code {

    [Parameter]
    public String Title { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public RenderFragment SubContent { get; set; }
    protected override async Task OnInitializedAsync() { }
    public void Dispose() { }
}