@implements IDisposable
 
<div>
    <div style="float: right;">
        <button title=@Title class="rvt-button rvt-button--plain" data-modal-trigger="modal-form-i">
            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                <use xlink:href="/_content/RivetBlazor/css/icons/rvt-icons.svg#rvt-icon-pencil"></use>
            </svg>
            <span class="rvt-m-left-xs rvt-sr-only">@Title</span>
        </button>
            @ChildContent
    </div>
        @SubContent
</div>
        
@code {

    [Parameter]
    public String Title { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public RenderFragment SubContent { get; set; }
    protected override async Task OnInitializedAsync() { }
    public void Dispose() { }
}